/*Catalog grid start*/

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.breadcumbs a {
	color: #000;
}

.breadcumbs a:hover,
.breadcumbs a:focus {
	text-decoration: underline;
}

.breadcumbs-current {
	color: #aba9a7;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000;

	opacity: 0.5;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price b {
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5;
}

.catalog-item-price .button {
	line-height: 20px;
	color: #fff;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	color: #fff;

	background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000;

	background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000;

	background-color: #fff;
}

/*Catalog grid start*/

/*Grid styles catalog start*/

.inner-page .main-header {
	margin-bottom: 50px;
}

.inner-page .main-header-logo {
	order: 0;

	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.filters {
	width: 180px;
}

.catalog {
	width: 700px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	list-style: none;
}

.pagination-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

	/*Grid styles catalog end*/