/*Position основные свойства*/
.position {
	position: - задает режим позиционирования элементов
		static - по умолчанию, «обычное позиционирование».
		relative - «относительное позиционирование». 
			Относительно спозиционированный элемент можно перемещать относительно его исходного положения, на самом деле никуда не смещается.
		absolute - «абсолютное позиционирование»;
			1. Выпадают из потока документа. Место, которое они занимали, становится как бы пустым и его занимают соседние элементы.
			2. Ширина по умолчанию зависит от содержимого (а не растягивается на всю доступную ширину).
			3. Остаются на том же месте, где были, если не заданы значения свойств top, left, right, bottom.;

	/*Перемещение элемента с position: relative;*/
		top: 10px - смещение элемента вниз на 10 px;
		bottom: смещение элемента вверх;
		left: смещение элемента вправо;
		right: смещение элемента влево;
		
	/*Перемещение элемента с position: absolute;*/
		Задают расположение относительно системы координат окна браузера, а точки начала координат привязаны к его углам.
		---
		Полоса прокрутки не появляется.
			top: ;
			left: задает отступ от левого края окна браузера до левого края абсолютно спозиционированного элемента. ;
		Полоса прокрутки появляется.	
			bottom: ;
			right: ;		
		Если какой-нибудь из родителей «абсолютного» элемента имеет относительное позиционирование, то элемент будет позиционироваться относительно этого родителя.
		---
		margin: если не задано положение left, top, bottom, right - элемент находится вне потока, ему можно задавать внешние отсутпы и смещать
		;

}