.smooth-transition {
	transition-duration: - длительность перехода - по умолчанию затрагивает все свойства элемента.
		1s - секунды
		1ms - миллисекунды;

	transition-property: - какие именно свойства нужно изменять плавно.
		width, height....; 
		

	transition-delay: - определяет задержку перед началом перехода
		1s - секунды
		1ms - миллисекунды; 	

	transition-timing-function: - определяет с какой скоростью и ускорением будут меняться свойства во время перехода
		ease - по умолччанию - переход начинается медленно, затем ускоряется и к концу движения опять замедляется
		linear - переход равномерный, без ускорений и замедлений
		ease-in - переход медленно начинается, а к концу ускоряется
		ease-out - начинается быстро, а к концу замедляется
		ease-in-out - переход начинается и заканчивается медленно
		steps - число_шагов, направление
			start
			end;
		

		transition: - сокращенное свойство
			width 1s ease-in 2s;
}